

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  line-height: 1;
  font-weight: 400;
  color: #555;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
  /* background: linear-gradient(to bottom, #000 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply; */
 background: radial-gradient(circle at center, #3d1c05 , #040201)
}
a {
  text-decoration: none;
}

/* --------------Hero - Section------------- */
.hero-section {
  height: 70rem;
}

/* --------------Header----------------------- */
.header {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 1rem 2rem; */
  padding: 2rem;
  background-color: #191919;
}

.logo {
  width: 7rem;
  z-index: 9999999;
}
.nav-icons {
  height: 2rem;
  width: 2rem;
  color: #ffff;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6rem;
  color: #fff;
  padding: 2rem;
  padding: 1rem;
  position: relative; /* Needed for the pseudo-element */
  background: #191919; /* Set background color for the main content */
  border-radius: 1.2rem;
  z-index: 1; /* To place it above the pseudo-element */
}


.nav-ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.2rem; /* This applies the rounded effect */
  padding: 2px; /* Thickness of the gradient border */
  background: linear-gradient(to right, #3F3752, #975227); /* Gradient for the border */
  -webkit-mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0); /* Create a mask to clip to border area */
  mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1; /* Position behind the main content */
} 
.nav-ul-items li {
  color: #fff;
}
.li-items {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 2.5rem;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.header-socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  gap: 1rem;
  color: #fff;
}
.nav-icons{
  font-size: 1.3rem;
}
.menu-icon {
  width: 4rem;
  color: #fff;
  display: none;
}
.sc-icons {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
  padding: 0.2rem;
  border-radius: 4px;
  background-color: #000;
  font-size: 1rem;
  font-weight: 500;
  color:#fff;
}
.contact-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 2rem;
  font-size: 1.6rem;
color: #fff;
}
.contact-items a{
  color: #fff;
}
.contract-num{
  color: #fff;
  padding-right: 1rem;
}




/* ------Modal------- */
/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out;
  z-index: 999 !important;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

input {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* Style for the placeholder text */
input::placeholder {
  color: #999 !important; /* Change to any color that fits your design */
  opacity:1 !important; /* Ensure full opacity */
}

button[type="submit"] {
  width: 60%;
  background-color: #cf885f;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #99613c;
}

/* Animation for modal fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* -------Section--------- */
.trust {
  height: 7rem;
  color: #fff;
  width: full;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.trust p {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.trust-icon {
  width: 3rem;
}

.hero-text {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: -1rem;
}

.hero-text-span{
  background: radial-gradient(circle at right top, #bb550c , #724e3c);
  padding: 2px 4px;
  border-radius: 5px;
  
}
.hero-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  gap: -1rem;
  font-weight: 200;
}
.btn-demo {
  padding: 1.4rem 6rem;
  font-size: 2.2rem;
  font-weight: 500;
  border: 2px solid #A5531A;
  border-radius: 4rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.btn-demo:hover{
  background-color: #7A4F37;
  transition: background-color 0.3s ease-in-out;
}
/* *********************** */
/* ---Hero Animation section----*/
/* *********************** */
.hero-slide {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: -10rem;
  position: relative;
  z-index: 99 !important;
 
}

a {
  text-decoration: none;
}
.container input {
  display: none;
}
.container {

  max-width: 996px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  flex-direction: column;
  /* margin-left: 20rem; */
}
.cards {
  position: relative;
  height: 44rem;
  width: 80rem;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.cards label {
  position: absolute;
  width: 430px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.5s ease;
  border-radius: 2.4rem;
  z-index: 2;
  /* background: linear-gradient(to bottom, #a33e25, #EE4B2B); */
  background: radial-gradient(circle at right top, #bb550c , #724e3c)
}

.actions i {
  font-size: 24px;
  transition: all 0.7s ease;
  color: var(--current-color2);
}
.actions:hover i {
  transform: scale(1.3);
}
#s1:checked ~ .cards #slide4,
#s2:checked ~ .cards #slide5,
#s3:checked ~ .cards #slide1,
#s4:checked ~ .cards #slide2,
#s5:checked ~ .cards #slide3 {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}
#s1:checked ~ .cards #slide5,
#s2:checked ~ .cards #slide1,
#s3:checked ~ .cards #slide2,
#s4:checked ~ .cards #slide3,
#s5:checked ~ .cards #slide4 {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}
#s1:checked ~ .cards #slide1,
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3,
#s4:checked ~ .cards #slide4,
#s5:checked ~ .cards #slide5 {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --current-color2: #eceaed;
}
#s1:checked ~ .cards #slide2,
#s2:checked ~ .cards #slide3,
#s3:checked ~ .cards #slide4,
#s4:checked ~ .cards #slide5,
#s5:checked ~ .cards #slide1 {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 50%);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}
#s1:checked ~ .cards #slide3,
#s2:checked ~ .cards #slide4,
#s3:checked ~ .cards #slide5,
#s4:checked ~ .cards #slide1,
#s5:checked ~ .cards #slide2 {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

.accelerate-anime {
  height: 44rem;
  width: 80rem;
  /* background: linear-gradient(to bottom, #a33e25, #EE4B2B) !important; */
  background: radial-gradient(circle at right top, #bb550c , #724e3c) !important;
  padding: 2rem;
  position: fixed;
  display: flex;
  transition: all 2s ease-in-out;
  gap: 4rem;
  border-radius: 3rem;
}
.container-2 {
  width: 50%;
}
.mobile-acc-anime {
  height: 89%;
  width: 22rem;
  position: absolute;
  top: 4.6rem;
  animation: moveImage 1.5s forwards ease-out;
}
.anime-acc-logo {
  width: 7rem;
}
.acc-anime-heading {
  height: 4rem;
  width: 30rem;
}
.acc-anime-text {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #ffff;
  font-weight: 200;
  text-align: center;
}
.acc-link-anime {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.drop-down {
  height: 2.6rem;
  width: 2.6rem;
}
.launh-arrow-acc {
  height: 7rem;
  width: 6rem;
  margin-left: 8rem;
}

.mobile-acc-anime {
  height: 90%;
  width: 20rem;
  position: absolute;
}

.idea-acc-anime {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 4rem;
  right: 6rem;
}
.workflow-acc-anime {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
}
.container-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.emp-anime {
  height: 44rem;
  width: 80rem;
  /* background: linear-gradient(to bottom, #a33e25, #EE4B2B) !important; */
  background: radial-gradient(circle at right top, #bb550c , #724e3c) !important;
  padding: 0 2rem 2rem 2rem;
  padding: 0;
  position: relative;
  display: flex;
  gap: 4rem;
  border-radius: 3rem;
}
.container-emp-2 {
  width: 50%;
  padding-top: 2rem;
  display: flex;
  /* justify-content: start; */
}
.emp-anime-heading {
  height: 5rem;
  width: 22rem;
}
.mobile-emp-anime {
  height: 80%;
  width: 26rem;
  position: absolute;
  bottom: 0;
  padding-left: 4rem;
}

.emp-logo {
  height: 3rem;
  width: 3rem;
}
.emp-logo-1 {
  position: absolute;
  top: 18rem;
  left: 48%;
}
.emp-logo-2 {
  position: absolute;
  top: 8rem;
  right: 36rem;
}

.emp-logo-3 {
  position: absolute;
  top: 3rem;
  right: 24rem;
}
.emp-logo-4 {
  position: absolute;
  top: 8rem;
  right: 8rem;
}
.emp-logo-5 {
  position: absolute;
  top: 18rem;
  right: 4rem;
}

/* #######Spext#########3 */
.spext-logo {
  height: 6rem;
  width: 6rem;
}
.spext-anime-heading {
  height: 5rem;
  width: 20rem;
}

.spext-logo-1 {
  position: absolute;
  bottom: 0;
  right: 2px;
  height: 12rem;
}
.spext-logo-2 {
  position: absolute;
  bottom: 0;
  width: 4rem;
  left: 27rem;
}
.spext-logo-3 {
  position: absolute;
  height: 10rem;
  width: 8rem;
  bottom: 3px;
  left: 1px;
}
.spext-logo-4 {
  position: absolute;
  height: 4rem;
  width: 4rem;
  bottom: 12rem;
  left: 36rem;
}

.spext-logo-5 {
  position: absolute;
  bottom: 0;
  width: 4rem;
  right: 12rem;
}
.spext-logo-6 {
  position: absolute;
  bottom: 0;
  left: 30rem;
  height: 11rem;
  width: 11rem;
}

/* ########## EDN ########## */

.anime-EDN-logo {
  height: 6rem;
  width: 7rem;
}
.edn-anime-heading {
  height: 5rem;
  width: 19rem;
}
.container-edn-2 {
  height: 100%;
  width: full;
  display: flex;

  align-items: end;
}
.mobile-edn-anime {
  height: 80%;
  width: full;
}
.edn-anime {
  height: 46rem;
  width: 80rem;
  /* background: linear-gradient(to bottom, #a33e25, #EE4B2B) !important; */
  background: radial-gradient(circle at right top, #bb550c , #724e3c) !important;
  padding: 0;
  position: relative;
  display: flex;
  gap: 4rem;
  border-radius: 3rem;
}

/* ##########QueryQ###########33 */
.queryQ-grp {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 8rem;
}
.QueryQ-groups {
  height: 3rem;
  width: 3rem;
}

.side-q-icons {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: space-around;
  align-items: center;
}

.side-q-icon {
  height: 4rem;
  width: 4rem;
}

/* *********************** */
/* ---Clients Logo Slider----*/
/* *********************** */

.clients {
  margin: 6rem 0 10rem 0;
  position: relative;
  z-index: -1;
}
.clients h3 {
  font-family: "Inter";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
  margin: 2rem 0 4rem 0;
  font-weight: 400;
}
/* .slider {
  width: 94%;
  height: auto;
  padding: auto 2rem;
  border: 2px solid #32beca;
  margin: 0 auto;
  border-radius: 2rem;
  overflow: hidden;

} */
.slider {
  position: relative;
  width: 94%;
  height: auto;
  padding: 1.4rem;
  margin: 0 auto;
  border-radius: 2rem;
  overflow: hidden;
  background-color: transparent; /* Inner background color */
  z-index: 1; /* Ensure content is above the pseudo-element */
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem; /* Same border-radius as .slider */
  padding: 2px; /* Thickness of the border */
  background: linear-gradient(45deg, #3F3752, #975227); /* Gradient border */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0); /* Mask to create inner padding */
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  z-index: -1; /* Position it behind .slider content */
}



.slider-track {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(200%);
  animation: scroll 50s linear infinite;
}

.slide {
  width: 10rem;
  margin: 1rem 7.2rem;

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-246%);
  }
}
#moving-mbl {
  width: 26rem;
  position: absolute;
  right: 12rem;
  bottom: 0;
  transform: translate(40%, 40%);
  opacity: 0;
}

@keyframes moveImage {
  0% {
    transform: translate(50%, 10%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.idea-acc-anime {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 4rem;
  right: 2rem;
}
.workflow-acc-anime {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  height: 6rem;
  width: 6rem;
}

/* EDN */
.anime-EDN-logo {
  width: 7rem;
}
.edn-anime-heading {
  height: 5rem;
  width: 19rem;
}
.container-edn-2 {
  height: 100%;
  width: full;
  display: flex;
  align-items: end;
}
.mobile-edn-anime {
  height: 80%;
  width: full;
}
.edn-anime {
  height: 46rem;
  width: 80rem;
  background: linear-gradient(to bottom, #662e20, #ac341d);
  padding: 0;
  position: relative;
  display: flex;
  gap: 4rem;
  border-radius: 3rem;
}

/* Query-q GROUP */
.queryQ-grp {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 8rem;
}

.QueryQ-groups {
  width: 3rem;
}

.side-q-icons {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: space-around;
  align-items: center;
}

.side-q-icon {
  width: 4rem;
}
/* ------------Section Products------------ */

.products {
  font-family: "space Grotesk";
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  gap: 2rem;
  color: #d8d4d4;
  max-width: 1800px;
  margin: 2rem 6rem;
}

.products-heading {
  position: sticky;
  top: 7rem;
  align-self: self-start;
  z-index: -1;
}

.products-heading h1 {
  font-family: "Space Grotesk";
  font-size: 7rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1.2;
  padding: 3rem 1rem;

  /* Gradient text color */
  background: linear-gradient(90deg, #fff, #B073FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* For Safari */
  background-clip: text;
  color: transparent; /* Makes the text itself transparent to show the gradient */
}

.products-heading p {
  font-size: 2rem;
}

.products-list {
  padding: 3rem 1rem;
}

.product-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.product-logo {

  width: 6rem;
}

.product-name {
  font-size: 3.7rem;
  font-weight: 400;
  color: #ffff;
}

.product-description {
  padding: 1rem;
  font-size: 1.7rem;
  line-height: 1.4;
  text-align: justify;
}
.product-description p {
  font-family: "space Grotesk";
}
.link {
  font-size: 2rem;
  font-weight: 600;
  color: #7c8fd1;
  text-decoration: none;
  display: flex;
  justify-content: start;
  gap: 1.1rem;
  margin: 1rem 0;
}
.link-empleado {
  color: #fff;
}

.product-icon {
  width: 3rem;
}

.acc-name {
  color: #fff;
}

.link-acc {
  color: #ffff;
}

.spext-name {
  color: #ffff;
}

.link-spext {
  color: #fff;
}

.query-name {
  color: #fff;
}

.link-Query {
  color: #ffff;
}

.Notifier-name {
  color: #fff;
}

.link-Notifier {
  color: #fff;
}

.Buzz-name {
  color: #ffff;
}

.link-Buzz {
  color: #ffff;
}

/* **********Services**************/

.services {
  background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3d2f2a, #020101); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Inter";
  padding: 4rem 1rem;
}
.services-header {
  font-family: "space Grotesk";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.services-heading {
  font-family: "Space Grotesk";
  font-size: 6.6rem;
  font-weight: 500;
  
  /* Gradient text */
  background: linear-gradient(90deg, #dab098, rgb(197, 125, 43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* For Safari */
  background-clip: text;
  color: transparent; /* Makes the text itself transparent to show the gradient */
}


.services-head-text {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  font-family: "space Grotesk";
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 112rem;
  margin: 8rem auto;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  width: 35rem;
  border: 2px solid #582A0C;
  border-radius: 2rem;
  height: 64rem;
  padding: 8rem 1.6rem;
}

.service:hover {
  background-color: #ddd;
  opacity: 0.9;
  scale: 1;
}
.service:hover .service-name{
  color: #000;
}
.link-service {
  display: none;
  justify-content: center;
  align-items: center;
  color: #000;
 
}
.service:hover .link-service {
  position: fixed;
  bottom: 2rem;
  display: flex;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #000;
}

.service-IMG-logo {
 
  width: 14rem;
}

.service-name {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 500;
  font-family: "space Grotesk";
}

.service:hover .service-text{
  color: #020101;
}

.service-text {
  font-family: "space Grotesk";
  font-size: 1.6rem;
  color: #f3cbcb;
  line-height: 1.3;
  text-align: justify;
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  font-weight: 400;
}

.sms-api-text {
  font-family: "space Grotesk";
  font-size: 1.6399rem;
  color: #f3cbcb;
  line-height: 1.2;
  text-align: justify;
  padding: 2rem;
  font-weight: 400;
}

.service-icon {

  width: 3rem;
 
}
.sub-services {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.software-dev {
  /* font-size: 3rem; */
  text-align: center;
}

/* %%%%%%%%%%%%%%%Achiements sections%%%%%%%%%%%%%%%%%% */
.achievemts-section {
  margin: 0 auto;
  max-width :100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: radial-gradient(circle at center, #3d1c05 , #040201)
}

.achievemnts-heading {
  color: #fff;
  font-family: "space Grotesk";
  font-size: 5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 2rem;
}

.achievemnts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.achievemnt {
  border-right: 2px solid #504742;
  border-bottom: 2px solid #504742;
  padding: 4rem 5rem;
}

.achievemnt span {
  font-size: 7rem;
  color: #ff771f;
  font-weight: 300;
}

.achievemnt p {
  font-size: 1.8rem;
  padding: 2rem 0;
  color: #fff;
}

.ach-users {
  border-right: none;
}
.ach-last-b {
  border-bottom: none;
}

/* ############ Goals ############## */

.goals-Veevotech {
  background: radial-gradient(circle at center, #3d1c05 , #040201);
  margin: 8rem auto 2rem auto;
  width: full;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 4rem;
}

.heart {
  width: 6rem;
}

.veevoTech-logo {
 
  width: 54rem;
}

.goals-heading {
  font-family: "space Grotesk";
  font-size: 5.4rem;
  font-weight: 500;
  color: #fff;
  text-align: start;
}

.goals-text {
  margin-top: 3rem;
  font-size: 2rem;
  text-align: justify;
  color: #828282;
  font-weight: 300;
  line-height: 1.4;
}

.btn-goals {
  margin-top: 3rem;
  background-color:transparent ;
  padding: 1.8rem 4.4rem;
  border: 2px solid #A5531A;
  color: #fff;
  font-size: 2rem;
  border-radius: 4rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-goals:hover{
  background-color:#dac3b3 ;
  color: #3d1c05;
  transition:background-color 0.3s ease-in-out;
}

/* ############ Form ############### */

.stay-informed {
  background: url("./7.\ Stay\ informed/Stay Informed.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  min-width: full;
  padding: 6rem 5rem 12rem 5rem;
  opacity: 0.7;
  /* z-index: -1; */
  position: relative;
}
.form-arrow {
  height: 4rem;
  width: 4rem;
}

input::placeholder {
  color: #fff;

}
.informed-heading {
  font-size: 4.8rem;
  font-weight: 400;
}

.informed-text {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 300;
}

.informed-form {
 background-color: transparent;
  width: 38rem;
  padding: 1rem;
  border-radius: 2rem;
  color: #fff;
  font-size: 1.4rem;
  border: 2px solid #fff;
}

.form-sec {
  position: relative;
}
.form-arrow {
  position: absolute;
  left: 32rem;
}

/* ############ Locations ########## */
.locations-section {
  margin: 6rem 2rem;
}
.locations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  gap: 2rem;
}
.location {
  padding: 1rem;
  border-radius: 1rem;
}

.hover-location {
  color: #fff;
}

.location.hover-location {
  display: none;
  font-size: 4.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #fff;
}
.location:hover h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
}
.location:hover .location-heading {
  display: none;
}
.location:hover.hover-location {
  font-size: 4.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #fff;
  display: block;
}
.location-arrow {
  height: 2rem;
  width: 2rem;
}
.contact-logo {

  width:  12rem;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-sc {
  height: 3rem;
  width: 3rem;
  padding: 1px;
}
.footer-arrow {
  height: 3rem;
  width: 3rem;
}
.location-heading {
  font-size: 4.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #ff771f;
}
.location-text {
  display: none;



}
.location:hover .location-text{
  display: flex;
  align-items: center;
  padding: 4px 0;
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
}
.location-heading span {
  color: #557af8;
  font-size: 6rem;
}
.conect-heading {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2.4rem;

  font-weight: 400;
  gap: 1rem;
  color: #557af8;
  text-decoration: none;
}
.isb:hover {
  background: url("./8.\ lets\ Connect/islamabad.jpg");
}

.psh:hover {
  background: url("./8.\ lets\ Connect/peshawar.jpg");
}

.khi:hover {
  background: url("./8.\ lets\ Connect/karachi.jpeg");
}

.location:hover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

/* ###########  Footer #############33 */

footer {
  background: url("./9.\ Footer/Map.png");
  background-size: contain;
  background-position: center;
  background-color: #1b1a1d;
  background-repeat: no-repeat;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 5rem;
}

.footer h2 {
  font-family: "space Grotesk";
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
}
.copy-right {
  width: full;
  margin: 1rem auto;
}

.footer-links {
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-align: start;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  padding-right: 4rem;
  font-size: 500;
}

.footer-links h3 {
  color: #ffff;
  font-size: 2.4rem;
  padding: 0.5rem;
  border-bottom: 2px solid #ff771f;
  margin-bottom: 1rem;
}
.footer-link {
  color: #fff;
  text-decoration: none;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #fff;
  border-top: 1px solid #ff771f;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.copyright-logo {

  width: 6rem;
}


/* Sticky navBar */

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #191919;
  height: 10rem;
  margin: 0;
  padding: 1rem 4rem;
  box-shadow: 0px 1px 1px  #df7a4c;
  
  z-index: 9999;
  transition: all 0.2s ease-in;
}



/* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply; */

 